fastapi==0.116.0
uvicorn==0.35.0
numpy==2.0.2
pandas==2.2.3
opencv-python==4.11.0.86
scipy==1.13.1
scikit-image==0.24.0
PyWavelets==1.6.0
matplotlib==3.9.4
python-multipart==0.0.20
scikit-learn==1.6.1
